<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Tareas</title>
</head>
<body>
    <main>
        <div class="px-4 py-5 my-5 text-center">

            <div>
                <h1 class="display-5 fw-bold">Mis tareas</h1>
                <a href="/tasker/new" class="btn btn-secondary" type="button">Crear nueva tarea</a>
            </div><br>

            <div class="d-flex gap-4 justify-content-center">

                <div th:each="task : ${tasks}" class="card" style="width: 8rem">

                    <div th:switch="${task.done}">
                        <img th:case="true" src="img/done.png" class="card-img-top" alt="done">
                        <img th:case="false" src="img/not-done.png" class="card-img-top" alt="not-done" >
                    </div>

                    <div class="card-body">
                        <h5 class="card-title" th:text="${task.description}"></h5>
                        <p class="card-text" th:text="${task.dueDate}"></p>

                        <div th:if="${!task.done}">
                            <form th:action="@{/tasker/{id}(id=${task.id})}" th:method="patch">
                                <button type="submit" class="btn btn-primary">Finalizar Tarea</button>
                            </form>
                        </div><br>

                        <div>
                            <form th:action="@{/tasker/{id}(id=${task.id})}" th:method="delete">
                                <button type="submit" class="btn btn-danger">Eliminar Tarea</button>
                            </form>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>